/* background */
body {
  /* Background */

  background: url(/resources/images/wallpaper-1.jpg);
  background-size: cover;

  font-family: 'Cinzel Decorative', cursive;
}

/* Rectangle */
.gradient {
  position: absolute;
  width: 360px;
  height: 126px;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  mix-blend-mode: overlay;
}

.rectangle {
  height: 150px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.rectangleInverted {
  height: 150px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

nav {
  mix-blend-mode: hard-light;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.themys-button {
  box-sizing: border-box;
  width: 248px;
  height: 90px;

  background: #3b3634;
  border-right: 3px solid rgba(185, 164, 108, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 60px 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 14px;

  text-align: center;

  color: #cfbe86;
  z-index: 1;

  text-shadow: 0.935484px 1.87097px 0.935484px rgba(0, 0, 0, 0.25);
}

.themys-font-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;

  text-align: center;

  color: #cfbe86;

  text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.7);
}

/* TODO: Remove shadow from dropdown items */
.themys-dropdown-font {
  color: #3b3634;

  text-shadow: 1.81579px 3.63158px 2.72368px rgba(0, 0, 0, 0.5);
}

.themys-button-transp {
  background: rgba(0, 0, 0, 0.5);
}

.themys-input {
  filter: drop-shadow(5px 5px 4px #3b3634);
  border-radius: 20px 60px;
}

.themys-line {
  position: absolute;
  left: 79.87%;
  right: 0%;
  top: 16.3%;
  bottom: 83.7%;

  border: 1px solid #cfbe86;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  transform: rotate(0.53deg);
}

.social {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1.2 em;
}

.transp-bg {
  height: 80%;
  width: 75%;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px 20px 10px 10px;
}

.semi-transp {
  opacity: 65%;
}

.t-mb6 {
  margin-bottom: 6em;
}

.t-mb5 {
  margin-bottom: 5em;
}

.t-mt1 {
  margin-top: 1em;
}

.title {
  width: 100%;
}

.themys-font {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #cfbe86;

  text-shadow: 1.81579px 3.63158px 2.72368px rgba(0, 0, 0, 0.75);
}

.align-left {
  text-align: left;
  margin-bottom: 5px;
}

.align-right {
  text-align: right;
  margin-bottom: 5px;
}

select {
  width: 100%;
}

.character-form {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.switch-adjust {
  padding-top: 2px;
}

.custom-button {
  border: none;
  background-color: transparent;
}

.custom-button:hover {
  opacity: 100%;
}

.logo {
  height: 120%;
  opacity: 0%;
  z-index: -1;
  mix-blend-mode: color-burn;
}

.multiclass-field:disabled {
  opacity: 35%;
}

.character-name-input {
  background-color: transparent;
  border: none;
  box-shadow: 0px 4px 4px #cfbe86(0, 0, 0, 0.5);
  transition: width 0.2s ease-in-out;
  transition: font-size 0.5s ease-in-out;
}

.character-name-input::focus {
  border: none;
}

.stats-table {
  width: 100%;
  margin-bottom: 2em;
}

table.stats-table * {
  text-align: center;
  font-size: 32px;
  font-weight: 900;

  text-shadow: 1.91708px 3.83416px 2.87562px rgba(0, 0, 0, 0.5);
}

table {
  border-collapse: separate;
  border-spacing: 15px 15px;
}

.stat-bg {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.stat-bg:hover {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.color-light-sepia {
  color: rgba(207, 190, 134, 0.75);
}

.value-bg {
  background: url(/resources/icons/value-square.svg);
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.color-golden {
  color: rgba(230, 199, 56, 0.61);
}

.mod-bg {
  background: rgba(185, 164, 108, 0.25);
  border-radius: 4.7927px;
  border: 0.958541px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1.91708px 3.83416px 2.87562px rgba(0, 0, 0, 0.5);
  display: inline-block;
  width: 50px;
  height: 50px;
}

#points-left {
  background: url(/resources/icons/points-left-square.svg);
  background-size: cover;
  background-position: center;
  border-radius: 20%;
  opacity: 30%;
  display: inline-block;
  width: 50px;
  height: 50px;
}

#selected-stat {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 48px;

  text-shadow: 0px 0px 35px #ffffff, 2px 4px 3px rgba(0, 0, 0, 0.75);

  width: 50px;
  height: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

#submitBtn:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
}

#submitBtn:not(:hover) {
  transform: scale(1);
  transition-duration: 0.5s;
}

.bttn-focus:hover {
  transform: scale(1.15);
  transition-duration: 0.5s;
}

.bttn-focus:not(:hover) {
  transform: scale(1);
  transition-duration: 0.5s;
}

.non-selectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.form-control:required:invalid {
  border-color: rgb(255, 40, 40, 0.4);
  box-shadow: 2px 2px 10px rgba(255, 40, 40, 0.4);
}

.form-control:required:invalid:focus {
  box-shadow: none;
}

.form-control:required:valid {
  border-color: rgb(40, 255, 40, 0.4);
  box-shadow: 2px 2px 10px rgba(40, 255, 40, 0.2);
}

.character-name-input:required:invalid {
  color: rgb(255, 211, 6);
}

.invisible {
  display: none;
}
